{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

<nav class="page-width header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li>
        {%- if link.links != blank -%}
          <header-menu>
            <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
              <summary
                id="HeaderMenu-{{ link.handle }}"
                class="header__menu-item list-menu__item link focus-inset"
              >
                <span
                  {%- if link.child_active %}
                    class="header__active-menu-item"
                  {% endif %}
                >
                  {{- link.title | escape -}}
                </span>
                {% render 'icon-caret' %}
              </summary>
              <div
                id="MegaMenu-Content-{{ forloop.index }}"
                class="sl-mega-menu__content mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
                tabindex="-1"
              >
                <div class="sl-mega-menu__content-inner page-width">
                  <ul
                    class="sl-mega-menu__list mega-menu__list{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}"
                    role="list"
                  >
                    {%- for childlink in link.links -%}
                      <li
                        class="sl-mega-menu__item{% if childlink.current %} sl-mega-menu__item--active{% endif %}"
                      >
                        <a
                          id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                          href="{{ childlink.url }}"
                          class="sl-mega-menu__link--level-2 link{% if childlink.current %} sl-mega-menu__link--active{% endif %}"
                          {% if childlink.current %}
                            aria-current="page"
                          {% endif %}
                        >
                          {{ childlink.title | escape }}
                          {% render 'icon-caret' %}
                        </a>

                        {% if childlink.type == 'collection_link' %}
                          {%- liquid
                            assign link_collection = childlink.object
                            assign filters = link_collection.metafields.slm.product_filters.value
                          -%}
                          <div class="sl-mega-menu__filters">
                            {% for f in filters %}
                              <a
                                class="sl-mega-menu__filter"
                                href="{{ childlink.url }}?filter.p.m.slm.product_filter_object=gid://shopify/Metaobject/{{ f.system.id }}"
                              >
                                {{ f.value }}
                              </a>
                            {% endfor %}
                          </div>
                        {% endif %}
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              </div>
            </details>
          </header-menu>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="header__menu-item list-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
